#
# This source file is part of the Heartwood open-source project
#
# SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

# Default owners for everything in the repository. Owners are requested for
# review on every pull request that touches an owned path.
* @PSchmiedmayer
